/* src/components/ExploreButton.css */
.explore-button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: background-color 0.3s;
   
  }
  
  .explore-button:hover {
    background-color: #333;
  }
  