/* src/components/WeatherCard.css */
.weather-card {
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 250px;
    height: 360px;
    margin-top: 30px;
    text-align: left;
    background-image: url('../background.jpg') ;
    background-size: cover;  /* Ensure the background image covers the entire space */
background-position: center; /* Center the image */
background-repeat: no-repeat;
display: flex;
align-items:center;
justify-content: center;
    
  }
  
  .weather-card img {
    width: 100%;
    height: auto;
  }
  
  .weather-card .info {
    padding: 20px;
  }
  
  .weather-card .time {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  .weather-card .title {
    font-size: 1.2em;
    color: white;

    font-weight: 700;
    margin-top: 10px;
  }
  
  .weather-card .weather {
    font-size: 2em;
    font-weight: bold;
  }
  
  .weather-card .location,
  .weather-card .date,
  .weather-card .warning {
    font-size: 0.9em;
    color: grey;
  }


  /*tesry ky lye*/
  .weathercard3 {
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 240px;
    height: 260px;
    margin-top: 90px;
    text-align: left;
    background-image: url('../1.jpg') ;
    background-size: cover;  /* Ensure the background image covers the entire space */
background-position: center; /* Center the image */
background-repeat: no-repeat;
display: flex;
justify-content: center;
align-items: flex-end;
    
  }
  .weathercard3 .weather3 {
    font-size: 2em;
    font-weight: bold;
  }
  .weathercard3 .warning3 {
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 190px;
    border: 1px solid white;
    border-radius: 30px;
    font-size: 0.9em;
    font-weight: 800;
    color: rgb(95, 25, 25);
  }
  .weathercard3 .title3 {
    font-size: 1.2em;
    color: white;
    padding-left: 16px;
    font-weight: 700;
    margin-top: 10px;
  }
  .weathercard4 {
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 250px;
    height: 330px;
    margin-top: 130px;
    text-align: left;
    background-image: url('../4.jpg') ;
    background-size: cover;  /* Ensure the background image covers the entire space */
background-position: center; /* Center the image */
background-repeat: no-repeat;
display: flex;
justify-content: center;
align-items: flex-end;
padding-bottom: 10px;
    
  }
  .weathercard4 .title4 {
    font-size: 1.2em;
    color: white;
    font-weight: 500;
    margin-top: 10px;
  }
  .weathercard4 .location4 {
    font-size: 0.9em;
    color: rgb(113, 39, 39);
  }